main .overlay {
  /*  position: relative;
    top: 200px; */
    position: absolute;
    right: 54%;
    top: 25%;
    display: grid;
    z-index: 1000;
    color: white;
}

.columns.hero-columns{
    position: absolute;
    right: 34%;
    top: 45%;
    display: grid;
    z-index: 1000;
    color: white;
}
/*main .overlay a{
    position: absolute;
    right:0;
}*/
